__pycache__/
*.pyc

resources/*.json
resources/*.pkl
resources/*.pt
resources/*.log

resources/raw_corpus/
resources/cleaned_corpus/
resources/tokenized_corpus/

final_corpus/
cleaned_corpus/
tokenized_corpus/

.DS_Store
Thumbs.db

.vscode/
.idea/